<%= content_for :head do %>
  <%= javascript_pack_tag "article_vue" %>
<% end %>

<div id="article-form">
  <%= form_with(model: article) do |form| %>
    <% if article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
          <% article.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, "v-model": "form.title" %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, 'v-model': 'form.description' %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

  <pre>
    {{JSON.stringify(form, null, 2)}}
  </pre>
</div>
